body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.Red-color{
    color: red;
}
.flexible{
    display: flex;
    
}
.half-width{
    width: 50%;
    padding: 2%;
   

    
}
.half-width img{
    width: 80%;
    padding: 20px 20px ;
    padding-left: 40px;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 45px;
    color: white;
    background-image: linear-gradient(orangered,tomato);
    font-weight: 700;
    border-radius: 5px;
}
.top{
    background-image: url(images/blc.jpg);
}
.middle{
    background-image: url(images/green.jpg);
}
.bottom-left{
    background-image: url(images/top-banner.png);
}
.bottom-right{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ABC{
    background-color: tomato;
    color: tomato;
}
